#hide, #hideThis {
  display: none;
}

#hideThis {
  padding-left: 23%;
  background-color: black;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  background-image: url("../img/pizza.png");
}

.jumbotron{
  background-color: #d36f88;
}
